@import url('https://.googleapis.com/css?family=SpaceGrotesk:wght@30..700&display=swap');


:root {
  --vdg-blue : hsl(0, 0%, 13%);
  --ds-blue: hsl(214, 17%, 51%);
  --gb: hsl(212, 23%, 69%);
  --lg-gb: hsl(210, 46%, 95%);
  --main-font: "Space Grotesk", sans-serif;
}

  *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 13px;
    color: var(--vdg-blue);
  }

  html, body {
    width: 100%;
    height: auto;
    background: var(--lg-gb);
  }


  body {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  h2 {
    font-size: 20px;
    font-weight: 700;
  }

  img {
    height: 100%;
    width: 100%;
  }

  .main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .card {
    background: white;
    width: 25.16rem;
    border-radius: 10px;
   
  }

  .card-image {
    overflow: hidden;
    height: 15.3rem;
    border-radius: 10px 0 0 10px;
  }

  .card-main {
    background-color: white;
    padding: 42px 32px 0;
    border-radius: 10px;
  }

  .card-content {
    font-size: 1.1rem;
    padding: 24px 0;
    line-height: 1.5rem;
  }

  .card-user {
    position: relative;
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;


  }

  .user {
    display: flex;
    align-items: center;

  }

   .user > img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-info > p:first-child{
    font-weight: 700;
}

.user-info > p:last-child{
    font-weight: 100;
}

.icon-share {
    position: relative;
    z-index: 5;
    background: var(--gb);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.icon-share:hover .i-share{
    fill: var(--lg-gb);
    animation: shareAnimation .2x linear;
    
}

@keyframes shareAnimation {
    from {}
    to {
        transform: translateX(1px);
    }
}

.icon-share:hover {
    background: var(--vdg-blue);
}

.ico-network {
    position: absolute;
    top: 5px;
    left: -32px;
    width: 25rem;
    height: 75px;
    padding: 2rem;
    border-radius: 0 0 10px 10px;
    background: var(--vdg-blue);
    display: flex;
    visibility: hidden;
    align-items: center;
    z-index: 1;

}

.ico-network p {
    font-size: 1.3rem;
    font-weight: 100;
    color: var(--gb);
    margin-right: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.ico-network a svg {
    font-size: 1.7rem;
    margin: auto 0.7rem;

}

@media(min-width: 1024px) {
    .card{
        width: 730px;
        height: 280px;
        display: flex;
        background: whitesmoke;
    }

    .card-image{
        overflow: hidden;
        flex: 1 0 285px;
        border-radius: 10px 0 0 10px;
        height: 100%;
    }

    .card-image > img {
        width: 120%;
    }

    .ico-network{
        width: 22rem;
        height: 50px;
        top: -60px;
        left: 59%;
        border-radius: 10px;
        justify-content: center;
    }

    .ico-network::after {
        content: '';
        position: absolute;
        top: 52px;
        display: block;
        border-width: 15px;
        border-style: solid;
        border-color: var(--vdg-blue);
    }
}